*
.DS_STORE

!.bashrc
!.profile
!.vimrc
!.zshrc

!.gitignore
!.gitconfig

!sample.env.zshrc
!sample.env.gitconfig

!install.sh

!.config/
!.config/nvim
!.config/nvim/*
.config/nvim/.netrwhist

!Documents/
!Documents/bin
!Documents/bin/*
!Documents/bin/*/*
Documents/bin/externals/*

!.cursor
!.cursor/.gitignore
!.cursor/rules/
!.cursor/skills/
!.cursor/prompts/
!.cursor/settings.json
!.cursor/config.json

!.github/
!.github/pull_request_template.md
