[user]
	name = John Webb
	email = John.Webb94@gmail.com
[core]
	editor = vim
[push]
	default = upstream
[includeIf "gitdir:~/"]
	path = ~/env.gitconfig
[fetch]
	prune = true
[alias]
  co  = checkout
  cleanup = remote update --prune
  ds  = diff --staged
[init]
	templateDir = /Users/john.webb/.git-template
[commit]
	gpgsign = true
[alias]
  co  = checkout
  cleanup = remote update --prune
  ds  = diff --staged
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
