[user]
	name = John Webb
	email = john.webb94@gmail.com
[core]
	editor = vim
[push]
	default = upstream
[includeIf "gitdir:~/Documents/smartrent/"]
	path = ~/Documents/smartrent/env.gitconfig
[fetch]
	prune = true
[alias]
  co  = checkout
  cleanup = remote update --prune
  ds  = diff --staged
[init]
	templateDir = /Users/john.webb/.git-template
