*
.DS_STORE

!.bashrc
!.profile
!.vimrc
!.zshrc

!.gitignore
!.gitconfig

!sample.env.zshrc
!sample.env.gitconfig

!install.sh

!.config/
!.config/nvim
!.config/nvim/*
.config/nvim/.netrwhist

!Documents/
!Documents/bin
!Documents/bin/*
!Documents/bin/*/*
Documents/bin/externals/*
