*

!.bashrc

!colors
!colors/*
!colors/*/*
!colors/*/*/*
!colors/*/*/*/*

!.config/
!.config/nvim
!.config/nvim/*
.config/nvim/.netrwhist

!Documents/
!Documents/bash_scripts
!Documents/bash_scripts/*

!.gitignore

!nvim/
!nvim/*
!nvim/*/*
!nvim/*/*/*

!.profile

!.vimrc

!.zshrc
