[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	default = upstream
[include]
	path = ~/env.gitconfig
[fetch]
	prune = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[merge]
	tool = nvimdiff
